<form action="/parcelform" method="post">
  <h3>Fill the form with parcel parameters:</h3>
  <label for="len">Add a new length</label>
  <input id="len" name="len" type="number" min="0" required>
  <label for="height">Add height</label>
  <input id="height" name="height" type="number" min="0" required>
  <label for="width">Add width</label>
  <input id="width" name="width" type="number" min="0" required>
  <label for="weight">Add weight</label>
  <input id="weight" name="weight" type="number" min="0" required>
  <button type="submit">Submit</button>
</form>